<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
/>
<footer>
  <div class="social">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
  <div class="links">
    <a href="/privacy">privacy</a>
    <a href="/terms">Terms</a>
    <a href="/company">Company</a>
  </div>
  <div class="ni-ni">
    <i class="fa-regular fa-copyright"></i>Usa Wans Limite
  </div>
</footer>
